{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}

<div class="d-flex my-5 justify-content-center">
        <a href="{{ path('artist_home') }}" role="button" type="button" class="btn btn-outline-primary mx-1">Tous</a>
    {% for category in categories %}
        <a href="{{ path('artist_category', {id: category.id}) }}" role="button" type="button" class="mx-1 btn btn-outline-{{ category.color }}">{{ category.label }}</a>
    {% endfor %}
</div>
<div class="row">
    {% for artist in artists %}
    <div class="col-4">
        <div class="card mb-3 border-{{ artist.category ? artist.category.color : 'dark' }}"  style="max-width: 20rem;">
            <div class="card-header align-self-end">
                <span class="badge rounded-pill bg-{{ artist.concert ? 'primary' : 'secondary' }}">{{ artist.concert ? 'En concert' : 'Musik de rue' }}</span>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ artist.name }}</h4>
                <p class="card-text">{{ artist.description | u.truncate(100, '...') }}</p>
                <div>
                    <small>
                        <a href={{ path('artist_show', {id: artist.id }) }} class="link-{{ artist.category ? artist.category.color : 'primary' }}">Découvrir l'artiste</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}
