{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}

<div class="row">
    {% for artist in 0..25 %}
    {% set color = "border-" ~ random(colors) %}
    {# <pre>
        {{ dump(color) }}
    </pre> #}
    <div class="col-4 text-center">
        <div class="card mb-3 {{ color }}"  style="max-width: 20rem;">
                <div class="card-header">Header</div>
                    <div class="card-body">
                    <h4 class="card-title">Titre {{ loop.index }}</h4>
                    <p class="card-text">Content  {{ loop.index }}</p>
                    <div>
                        <small>
                            <a href={{ path('artist_show', {id: loop.index}) }}>Voir l'artiste</a>
                        </small>
                    </div>
                </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
